a:link{color:#890620;text-decoration: none;}
a:visited{color:#890620;text-decoration: none;}
a:hover{color:white;text-decoration: line-through;}

@font-face{
	font-family: RockSalt;
	src: url(../assets/fonts/RockSalt-Regular.ttf);
}

h1{
	font-family:RockSalt ;
	font-size:160px;
	color:#890620;
	text-align: center;
}

body{
	margin: 0;
	background-image:linear-gradient(#03045e,#90e0ef,#0077b6);
}

#virgil{
  position:sticky;
  bottom:0;
  top:0;
  width:30%;
  left:10px;
  display:block;
  z-index: 1;
}

p{
  width:35%;
  text-align: right;
  color:white;
  margin-left: auto;
  font-family: monospace;
  font-size:25px;
  padding:30px;
  z-index: 0;
  cursor:help;
}

.img{
	width:12%;
  	left:750px;
  	position: relative;
  	cursor:help;
}

#anger{
	animation: heading 0.4s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes heading{
	0% {text-transform: lowercase;}
	75% {text-transform: uppercase;}
	100% {text-transform: capitalize;}
}